<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Home</title>
</head>
<body>
  <h1>Welcome to Dog DayCare!</h1>

  <nav>
    <ul>
      <li><a href="/pets">Pets</a></li>
      <li><a href="/reservations">Reservations</a></li>
      <li><a href="/logout">Logout</a></li>
    </ul>
  </nav>
</body>
</html>

