<h1>{{title}}</h1>
<p>Welcome to Dog DayCare! </p>

<h2>Login</h2>
<form action="/login" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>
  
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>
  
  <button type="submit">Login</button>
</form>

<h2>Register</h2>
<form action="/register" method="POST">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" required><br><br>
  
  <label for="password">Password:</label>
  <input type="password" id="password" name="password" required><br><br>
  
  <button type="submit">Register</button>
</form>


